/* Plano de fundo */
body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.login-bg {
  background: linear-gradient(to bottom right, #001f3f, #ff0000);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-card {
  background: white;
  border-radius: 16px;
  padding: 40px 30px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  text-align: center;
}

.logo {
  width: 100px;
  height: auto;
  margin-bottom: 20px;
}

.login-card h2 {
  margin-bottom: 30px;
  color: #001f3f;
  font-size: 22px;
}

.login-card input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}

.login-card button {
  width: 100%;
  padding: 12px;
  background-color: #ff0000;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

.login-card button:hover {
  background-color: #cc0000;
}

.erro {
  color: red;
  margin-top: 10px;
  font-size: 14px;
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
}

#toggleSenha {
  display: inline-block;
  background-color: #001f3f;
  color: #ffffff;
  border: none;
  border-radius: 50px; /* formato pílula */
  padding: 8px 20px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 30px;
}

#toggleSenha:hover {
  background-color: #003366;
}
